*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #aaa;
    font-family: 'Poppins', Helvetica, sans-serif;
    border-top: 5px solid #D31145;
}
.title{
    text-align: center;
    margin-top: 80px;
}
.title img {
    width: 250px;
}
.title h1{
    font-size: 1.5rem;
}
.certifications {
    margin: 0 auto;
    max-width: 70%;
    display: flex;
    justify-content: space-around;
}
.certifications img{
    width: 150px;
    height: 200px;
}
footer {
    text-align: center;
    margin-top: 20px;
    color: #015289;
    font-size: 13px;
}